*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card1, 
.card2, 
.card3, 
.card4, 
.card5, 
.card6{
    height: fit-content;
    background: #000000bd;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: fit-content;
    margin: 1em auto;
    letter-spacing: 1px; 
    
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    padding: 6px 6px;
    border: none;
    height: auto;
    width: 44px;
    outline: none;
    background: #7c7c7c;
    color: white; 
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7c6b;
}

.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: 100%;
}

.card2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2-info{
    padding: 10px;
    font-weight: bolder;
    background: #2b3d5262;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 20px;
}


.card1{
    box-sizing: border-box;
}

.card1-info{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    background: hsla(183, 28%, 29%, 0.715);
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgb(66, 64, 64) ;
    
}

.card1-info p{
    margin: 10px 10px;
    width: 100%;
}

.weather{
    display: flex;
    justify-content: space-around;
}

.timebox{
    font-size: 110%;
    margin: 15px 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: hsla(183, 28%, 29%, 0.715);
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgb(66, 64, 64) ;
}

.timebox .liveTime{
    margin: 10px 10px;
    text-align: center;
}

.description{
    text-transform: capitalize;
}

.card4{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.weatherEntry{
    background: #222222be;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.weatherEntry p{
    margin: 0;
}

/* .weather.loading{
    visibility: hidden;
    max-height: 20px;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading Weather....";
    font-size: 20px;
    font-weight: bold;
    color: white;
} */
