body {
    font-family: monospace;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#header {
    width: 100vw;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.weatherText {
    flex: 1;
    text-align: center;
    font-size: 2em;
}

.timebox {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.timebox p {
    margin: 5px;
    font-size: 1.3em;
}

.main-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.search-bar {
    width: 70%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-button {
    background-color: #005bea;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0044cc;
}

.search-button svg {
    vertical-align: middle;
}

.card1-card2 {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    flex: 1;
    transition: transform 0.3s ease, background 0.3s ease;
    backdrop-filter: blur(10px);
    color: #000;
    max-width: 40%;
    box-sizing: border-box;
   
}

.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}

.card-info {
    padding: 20px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
}

.card-info .city {
    font-size: 3.5em;
    margin-top: 0;
}

.sunrise, .sunset {
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.2);
}

.card-info p {
    margin: 10px 0;
    font-size: 2em;
}

.card2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card2-info .temp {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
}

.card2-info .icon {
    width: 100px;
    height: fit-content;
}

.card2-info .description {
    font-size: 2em;
    margin-top: 0;
    text-transform: capitalize;
}

.card2-info .feelsLike, .card2-info .tempminmax {
    font-size: 1.5em;
    color: #ffffff;
}

.titleHourly {
    margin-top: 50px;
    margin-bottom: 0px;
    color: #000;
    font-weight: lighter;
}

.card4 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
}

#hourlyDisplayCard {
    font-size: 1.2rem;
    color: #000;
    margin-top: 20px;
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

#hourlyDisplayCard::-webkit-scrollbar {
    height: 12px;
}

#hourlyDisplayCard::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

#hourlyDisplayCard::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#hourlyDisplayCard::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hourlyWeather {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
    width: 120px;
    transition: transform 0.3s ease, background 0.3s ease;
    white-space: nowrap;
}

.hourlyWeather:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
}

.weatherEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherEntry p {
    margin: 5px 0;
}

.card3-sixDays {
    display: flex;
    align-items: center;
    flex: 1;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
}

.card3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    margin-left: 20px;
}

.weatherDetails {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
}

.weatherDetails:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
}

.weatherDetails img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.weatherDetails p {
    width: 100%;
    font-family: monospace;
    font-size: 1.4em;
    color: #000;
    margin-top: 2px;
    overflow: hidden;
}

.sixDaysForecast {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 20px 20px;
}

.sixDaysForecast h1 {
    margin: 0;
    text-align: center;
    color: #000;
    font-weight: lighter;
}

.card5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.otherWeatherEntry {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    transition: transform 0.3s ease, background 0.3s ease;
}

.otherWeatherEntry:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
}

.dateMonthDiv, .icondiv, .minTemp, .maxTemp {
    flex: 1;
    margin: 0 10px;
    text-align: center;
    color: #000;
}

.dateMonthDiv p {
    white-space: nowrap;
}

@media (max-width: 850px) {
    .card1-card2 {
        flex-direction: column;
    }

    .card1, .card2 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .search-bar {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .weatherText {
        font-size: 1.5em;
    }

    .timebox {
        position: static;
        text-align: center;
        margin: 10px 0;
    }

    .timebox p {
        font-size: 1em;
    }

    .card1-card2 {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .card-info .city {
        font-size: 2.5em;
    }

    .card-info p {
        font-size: 1.5em;
    }

    .card2-info .temp {
        font-size: 36px;
    }

    .card2-info .description {
        font-size: 1.5em;
    }

    .card2-info .feelsLike, .card2-info .tempminmax {
        font-size: 1.2em;
    }

    .sixDaysForecast{
        width: 100%;
    }

    .dateMonthDiv, .icondiv, .minTemp, .maxTemp { 
        flex: 1 1 100%;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        margin-bottom: 5px;
    }
}

@media (max-width: 640px) {
    .timebox {
        display: none;
    }
    .card3-sixDays{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .search-bar {
        width: 50%;
    }

    .hourlyWeather, .otherWeatherEntry {
        width: 80%;
        align-items: center;
        padding: 0 20px;
    }

    .weatherDetails {
        width: 150px;
    }

    .card{
        width: 100%;
        max-width: 100%;
    }

    .card3{
        margin-top: 20px;
    }

    
}

.card4 {
    overflow-x: hidden;
    overflow: auto;
}
